.App {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-item {
    text-align: center;
    padding: 10px 5px;
    border: 1px solid #000;
    cursor: pointer;
}

.list-item:hover {
    background: #7764df;
}

.info {
    padding: 5px 10px;
    border: 1px solid #000;
}

img {
    display: block;
}